
/*-----------------------------NAV-----------------------------*/

#menu-nav {
    background-color: blueviolet;
    padding: 45px;
}


#footer {
    background-color: chartreuse;
    padding: 45px;
}